[defaults]
inventory = ./inventory/dynamic_inventory.py 
roles_path = /Users/apple/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
remote_tmp = ~/.ansible/tmp
host_key_checking = False
[privilege_escalation]
[persistent_connection]
[connection]
[colors]
[selinux]
[diff]
[galaxy]
[inventory]
[netconf_connection]
[paramiko_connection]
[jinja2]
[tags]
[runas_become_plugin]
[su_become_plugin]
[sudo_become_plugin]
[callback_tree]
[ssh_connection]
[winrm]
[inventory_plugins]
[inventory_plugin_script]
[inventory_plugin_yaml]
[url_lookup]
[powershell]
[vars_host_group_vars]
